
/* GLOBAL TAGS */
html {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.47;
  font-weight: 300;
  color: #212121;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
}


input,
button,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  padding: 0;
  margin: 0;
}

button {
  font-size: 18px;
  font-weight: 300;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.main-heading {
  margin: 0 0 34px;
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
}

.text-red {
  color: #e96856;
}

.text-bold {
  font-weight: 500;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


