section.section-services
  div.container
    h2.main-heading Наша услуга для Вас, если Вы хотите:
    ul.services-list
      li.services_item
        b Подобрать сотрудников
        p Организовать подбор сотрудников в несколько раз быстрее
          | за счет нашей активной базы;
      li.services_item
        b Снизить затраты
        p Снижения затрат на подбор, найм, управление и содержание персонала;
      li.services_item
        b Решить стратегические задачи
        p Освобождение кадровых ресурсов под решение стратегических задач;
      li.services_item
        b 100% гарантию
        p 100% гарантию безопасности от невыплаты заработной платы и прочих рисков;
      li.services_item
        b Повысить инвестиции
        p Повышения инвестиционной привлекательности вашей компании;
      li.services_item
        b Снизить налоги
        p Законного снижения налоговых выплат.
