.footer {
  background-color: #212121;
  color: #ffffff;
  font-size: 17px;
  font-weight: 300;
  line-height: 1;

  .container {
    display: flex;
    justify-content: space-between;
    padding: 15px;

    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .footer-section {
    display: flex;
    align-items: center;
    align-content: center;

    * {
      vertical-align: middle;
    }

    .logo {
      display: block;
      font-size: 24px;
      font-weight: 700;
      margin-left: 28px;
      /* min-width: 122px; */
    }
  } 

  .right-section {
    padding-right: 70px;
  }


  .logo-img {
    display: inline-block;
    margin-right: 30px;
    max-width: 100%;
  }

  .phone-number {
    color: #f3c500;
    font-size: 24px;
    font-weight: 700;
    margin-left: 45px;
  }

  .email {
    position: relative;
  }

  .email::before {
    width: 15px;
    height: 13px;
    position: absolute;
    left: -23px;
    top: 2px;
    content: "";
    background-image: url("/img/icon-mail@X1.png");
  }

  .created-by {
    display: flex;
    align-items: center;
    align-content: center;
  }

  .logo-to-up {
    display: flex;
    align-items: center;
    align-content: center;
    width: 60px;
    height: auto;

    .logo-img {
      margin-left: 9px;
    }
  }
}
