.key-adv {
    display: flex;
    justify-content: space-around;
}

.key-adv-item {
  max-width: 262px;
  text-align: left;
  padding-left: 68px;
  position: relative;

  &::before {
    content: "";
    display: table;
    position: absolute;
    left: 0;
    top: 5px;
    width: 36px;
    height: 36px;
    background-color: #fcc033;
    /* background-image: url("/img/check@1X.svg"); */
    /* background-repeat: no-repeat;
    background-position: 50% 45%; */
  }

  &::after {
      content: "";
      display: table;
      position: absolute;
      left: 10px;
      top: 15px;
      width: 17px;
      height: 11px;
      border-bottom: 2px solid #000000;
      border-left: 2px solid #000000;
      transform: rotate(-45deg);
  }
}
