.section-about {
  padding-top: 85px;

  .wrapper {
    padding-left: 211px;
    min-height: 232px;
    /* background-image: url("/img/clock@1X.png"); */
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    /* padding-bottom: 20px; */
    margin-bottom: 50px;
    position: relative;

    &::before {
      content: "";
      width: 146px;
      height: 232px;
      position: absolute;
      left: 26px;
      background-image: url("/img/clock@1X.png");
      background-repeat: no-repeat;
      background-size: contain;
      padding-bottom: 20px;
    }
  }

  .main-heading {
    margin-bottom: 40px;
    text-align: center;
  }

  .about-intro {
    margin-bottom: 0;
  }

  .advantages {
    display: flex;
    align-content: stretch;
    margin-bottom: 70px;
  }

  .advantages-item {
    width: 16.6666%;
    text-align: center;


    & > .desc {
        font-size: 14px;
        line-height: 1.57;
    }
  }

  .color-box {
      color: #ffffff;
      padding: 128px 15px 20px;
      margin-bottom: 30px;
      height: 
  }

  .advantages-item:nth-child(1) .color-box {
      background-color: #e30016;
  }
  .advantages-item:nth-child(2) .color-box {
      background-color: #fc5620;
  }
  .advantages-item:nth-child(3) .color-box {
      color: #000000;
      background-color: #fcc033;
  }
  .advantages-item:nth-child(4) .color-box {
      background-color: #0b9a4c;
  }
  .advantages-item:nth-child(5) .color-box {
      background-color: #123c52;
  }
  .advantages-item:nth-child(6) .color-box {
      background-color: #007a78;
  }
}
