.section-reviews {
  .container {
    padding: 62px 211px 246px;
  }

  .main-heading {
    margin-bottom: 62px;
  }

  .avatar {
    margin-bottom: -2px;
  }

  .reviews_item {
    font-size: 0;
    margin-bottom: 47px ;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .review-text {
    font-size: 18px;
    padding: 34px 52px 42px;
    margin: 0;
    /* margin-bottom: 47px ; */
    background-color: #e7e7e7;
  }

  .customer-name {
    display: block;
    font-weight: 700;
    margin-bottom: 14px;
  }


}
