.section-order {
  color: #ffffff;
  background-image: url("/img/bg-order.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  


  .container {
    padding: 342px 0 48px;
    position: relative;
  }

  .order-form {
    position: absolute;
    top: -148px;
    left: 50%;
    transform: translateX(-50%);
    width: 360px;
    padding: 38px 44px 50px;
    background-color: #f3c500;
    color: initial;

    .input-group + .input-group {
      margin-bottom: 20px;
    }
  }
  .small-heading {
    font-weight: 700;
  }

  .input {
    font-size: 15px;
    color: #a9a9a9;
    height: 46px;
    width: 100%;
    padding: 18px 22px 18px 42px;
    border-radius: 2px;
    background-color: #ffffff;
    border: 1px solid #bec3c7;
    background-repeat: no-repeat;
    background-position: 13px 50%;
  }

  .input-name {
    background-image: url("/img/icon-name.png");
  }

  .input-company {
    background-image: url("/img/icon-company.png");
  }

  .input-phone {
    background-image: url("/img/icon-phone.png");
  }

  .input-email {
    background-image: url("/img/icon-mail-gray.png");
  }

  .btn-send {
    font-weight: 400;
    color: #ffffff;
    height: 46px;
    width: 100%;
    border-radius: 2px;
    background-color: #01a185;
  }

}
