.section-offer-cta {
    color: #ffffff;
    padding: 40px 211px 48px;
    background-color: #372d3b;

    .main-heading {
        margin-bottom: 27px;
    }

    .btn-cta {
       line-height: 54px;
       height: 54px;
       background-color: #aa3c57;
       padding: 0 40px;
       border-radius: 60px;
    }
}
