.section-warning {
    color: #212121;
    background-color: #e7e7e7;

    .container {
        padding: 50px 97px 72px 211px;
    }

    p {
      font-size: 17.7px;
    }

    p:last-child {
        margin-bottom: 0;
    }

    .main-heading {
        margin-bottom: 20px;
    }
}
