.section-header {
    text-align: center;
    background-image: url("/img/bg-hero@1X.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    color: #ffffff;
    padding-top: 114px;
    position: relative;

    .top-bar {
        line-height: 59px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0;

        p {
          margin: 0;
        }

        .container {
            display: flex;
            justify-content: space-between;
            padding-left: 53px;
            padding-right: 26px;
        }

        .logo {
          line-height: 59px;
        }

        .logo-img {
          vertical-align: middle;
          margin-right: 20px;
        }

        .slogan {
          font-size: 17px;
        }

        .phone-number {
            font-weight: 500;
            vertical-align: middle;
        }
    }

    .main-heading {
      margin-bottom: 43px;
    }

    .hero-subheading {
        font-size: 40px;
        font-weight: 700;
        color: #f3c500;
        margin: 0 0 30px;
    }

    .hero-lead {
        max-width: 254px;
        margin: 0 auto 56px;
    }

    .btn-info {
        background-color: #fcc033;
        color: #000000;
        margin-top: 11px;
        padding: 0 31px;
        height: 65px;
        line-height: 65px;
        border-radius: 60px;
        transform: translate(0, 50%);
    }
}
