.section-advantage {
  text-align: left;

  .container {
    padding: 82px 211px 45px; 
  }

  .description {
    width: 750px;
  }

  p:last-child {
    margin-bottom: 0;
  }

 .text-bold {
   font-size: 24px;
   margin: 0 0 20px 0;
 }
}
