.section-minus-plus {

  .container {
    padding: 55px 210px;
  }

  .main-heading {
    line-height: 1.25;
  }

  .minuses-item {
    margin-bottom: 28px;
  }

  .plus-wrapper {
    font-size: 22px;
    line-height: 1.3333;
    font-weight: 400;
    color: #ffffff;
    background-color: #1aaf5d;

    p {
      margin: 0;
    }
  }

  .minuses-item:last-child {
    margin-bottom: 0;
  }

}
