.section-reviews {
  .container {
    padding: 62px 211px 246px;
  }

  .main-heading {
    margin-bottom: 62px;
  }

  .reviews {
    margin-bottom: -47px;
  }

  .reviews_item {
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    font-size: 0;
    margin-bottom: 47px ;

    &:nth-child(even) .avatar {
      right: -185px;
    }

    &:nth-child(odd) .avatar {
      left: -185px;
    }
  }

  .avatar {
    position: absolute;
    margin-bottom: -2px;
  }

  .review-text {
    font-size: 18px;
    padding: 34px 52px 42px;
    margin: 0;
    /* margin-bottom: 47px ; */
    background-color: #e7e7e7;
  }

  .customer-name {
    display: block;
    font-weight: 700;
    margin-bottom: 14px;
  }


}
