.section-minus-plus {

  .container {
    padding: 55px 210px;
  }

  .main-heading {
    line-height: 1.25;
  }

  .minuses-item {
    margin-bottom: 28px;
    position: relative;

    &::before {
      content: "";
      width: 13px;
      height: 3px;
      position: absolute;
      top: 11px;
      left: -23px;
      background-color: #ea4b35;
    }
  }

  .plus-wrapper {
    font-size: 22px;
    line-height: 1.3333;
    font-weight: 400;
    color: #ffffff;
    background-color: #1aaf5d;

    .container {
      background-image: url("/img/success@1X.png");
      background-repeat: no-repeat;
      background-position: 50px 50px;
    }

    p {
      margin: 0;
    }
  }

  .minuses-item:last-child {
    margin-bottom: 0;
  }

}
