footer.footer
  div.container
    section.left-section
      a.logo(href="#")
        img.logo-img(src="/img/logo@1X.png" alt="Компания APM")
        b APM
      p.phone-number +7 (999) 533 33 45
    section.middle-section
      a.email(href="mailto:info@apm1.ru") info@apm1.ru

    section.right-section
      p.created-by Разработано в web - студии 
        a.logo-to-up(href="https://google.com") 2UP
          img.logo-img(src="/img/logo-2up@X1.svg" alt="")