section.section-header
  div.top-bar
    div.container
      a.logo(href="#")
        img.logo-img(src="/img/logo@1X.png" alt="Компания APM")
        b APM
      p Компания №1 на Российском рынке по адаптивному управлению персоналом. 
      span.phone-number +7 (999) 533 33 45 

  div.container
    h1.main-heading У нас есть нужные Вам сотрудники!
    b 56 мин.
    p Наш рекорд по скорости предоставления сотрудника

    include ../includes/key-advantages.pug
    button.btn-info Узнайте, как быстро мы сможем найти Вам сотрудника





