section.section-how-it-works
  div.container
    h2.main-heading Как это работает:

    ol.steps
      li.steps-item
        p Оставьте заявку
      li.steps-item
        p Дождитесь звонка
      li.steps-item
        p Получите нового сотрудника 

  div.promises
    p Все заботы по управлению и администрированию мы возьмем на себя
