section.section-services
  div.container
    h2.main-heading Наша услуга для Вас, если Вы хотите:
    ul.services-list
      li.services_item
        b.item-heading Подобрать сотрудников
        p.item-desc Организовать подбор сотрудников в несколько раз быстрее
          | за счет нашей активной базы;
      li.services_item
        b.item-heading Снизить затраты
        p.item-desc Снижения затрат на подбор, найм, управление и содержание персонала;
      li.services_item
        b.item-heading Решить стратегические задачи
        p.item-desc Освобождение кадровых ресурсов под решение стратегических задач;
      li.services_item
        b.item-heading 100% гарантию
        p.item-desc 100% гарантию безопасности от невыплаты заработной платы и прочих рисков;
      li.services_item
        b.item-heading Повысить инвестиции
        p.item-desc Повышения инвестиционной привлекательности вашей компании;
      li.services_item
        b.item-heading Снизить налоги
        p.item-desc Законного снижения налоговых выплат.
