section.section-advantage
  div.container
    h2.main-heading Технология адаптивного управления персоналом 
    p.text-bold Это новая технология#[br] в России, которая уже зарекомендовала#[br] себя 
      | на европейском и американском рынке.
    p.desription Вы можете сами использовать все методики аутстаффинга, серьезно 
      | сократить затраты и исключить налоговые риски, и мы вам в этом поможем.
