section.section-warning
  div.container
    h2.main-heading Внимание!
    p С 1 января 2016 года Федеральным законом №116-ФЗ 
      | #[span.text-red в России ограничена деятельность аутстаффинговых компаний ] 
      | (частных агентств занятости),а стоимость их услуг станет неоправданно завышенной.
      | Многие из них начнут использовать незаконные методы работы и подвергать Вас рискам.
