section.section-about
  div.container
    img(src="/img/clock-@1X.png")
    h2.main-heading Мы бережем Ваше время! 
    p.about-intro Сконцентрируйтесь на своем бизнесе, а не на том, как его обслуживать.
      | Мы за короткое время укомплектуем Ваш штат нужными специалистами, 
      | а также возьмем на себя функцию администрирования персонала. 

    h2.main-heading APM adaptive personnel management — это ...
    ul.advantages
      li.advantages-item
        div.color-box №1 в России
        p.desc Первая компания в России, предоставляющая услуги по адаптивному управлению персоналом;
      li.advantages-item
        div.color-box Работаем на территории РФ
        p.desc Работаем на всей территории Российской Федерации;
      li.advantages-item
        div.color-box 15280 сотрудников в базе
        p.desc В нашей базе тысячи потенциальных сотрудников различных сфер деятельности, готовых уже сейчас выйти на работу;
      li.advantages-item
        div.color-box Экономия до 50%
        p.desc Мы разработали уникальные технологии, которые помогут Вам сэкономить ваши деньги и время;
      li.advantages-item
        div.color-box 12 лет работы
        p.desc Наша компания работает на рынке управления персоналом с 2003 года;
      li.advantages-item
        div.color-box Работаем 24/7
        p.desc Наша служба поддержки клиентов работает 24 часа в сутки, 7 дней в неделю без выходных и праздников. 
