section.section-plus-minus
  div.container
    h2.main-heading Внимание!

    ul.minuses-list
      li.minuses-item
        | #[span.bold Заказчик компенсирует все издержки исполнителя ] 
        | (Заработная плата, налоги, доставка, униформа, HR, реклама и т.д. + своя прибыль до 100%). 
        | #[span.bold Все эти затраты скрыты в тарифе. ]
      li.minuses-item
        | #[span.bold Чем больше аутсорсинговая компания ], и чем «громче» ее имя, #[span.bold тем больше у нее издержек – а это все компенсируете Вы ].
      li.minuses-item
        | #[span.bold Возможны проблемы с ] персоналом #[span.bold аутсорсинговых компаний ] (наличие (актуальность) медицинских осмотров, судимость и т.д.). Для аутсорсинговых компаний #[span.bold важно вывести персонал и получить свою прибыль ], не задумываясь о последствиях.
      li.minuses-item
        | #[span.bold Работники аутсорсинговых компаний получали минимальные зарплаты ] 
        | (меньше, чем штатные сотрудники заказчика. 
        | Как правило такие работники часто меняют место работы, не мотивированы на качество выполнения работы. 
        | Так как их права ущемлены, у них отсутствует корпоративный дух, чувство ответственности, стимул к росту и развитию
      li.minuses-item
        | #[span.bold Вы не можете проверить ] правильность #[span.bold оформления персонала ] аутсорсинговых омпаний.
      li.minuses-item
        | #[span.bold Сезонность предоставления персонала ], т.к. основная масса персонала #[span.bold аутсорсинговых компаний в сезон отдается ключевым клиентам ], а весь основной бизнес страдает и не может нормально отработать сезон.
      li.minuses-item
        | #[span.bold Существуют задержки с предоставлением персонала ], сбои в обеспечении персоналом по заказу (#[span.bold сложно заставить ] не Вашего работника #[span.bold ночью разгружать товар ]), а #[span.bold Call-центры аутсорсинговых компаний не работают в ночное время ] и Ваш личный менеджер не ответит на Ваш звонок.
      li.minuses-item
        | #[span.bold Постоянная ротация персонала. ]
      li.minuses-item
        | #[span.bold Присутствуют колоссальные налоговые риски. ]
