section.section-advantage
  div.container
    h2.main-heading Технология адаптивного управления  персоналом
    p.bold-text Это новая технология в России, которая уже зарекомендовала себя
      | на европейском и американском рынке.
    p Вы можете сами использовать все методики аутстаффинга, серьезно
      | сократить затраты и исключить налоговые риски, и мы вам в этом поможем.
