section.section-advantage
  div.container
    p.bold-text Это новая технология в России, которая уже зарекомендовала себя
      | на европейском и американском рынке.
    p Вы можете сами использовать все методики аутстаффинга, серьезно
      | сократить затраты и исключить налоговые риски, и мы вам в этом поможем.
