<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Трудоход

  body
    include sections/section-heading.pug
    include sections/section-about.pug
    include sections/section-services.pug
    include sections/section-how-it-works.pug
    include sections/section-advantage.pug
    include sections/section-warning.pug
