<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet")
    title Трудоход

  body
    include sections/section-header.pug
    include sections/section-about.pug
    include sections/section-services.pug
    include sections/section-how-it-works.pug
    include sections/section-advantage.pug
    include sections/section-warning.pug
    include sections/section-offer-cta.pug
    include sections/section-minus-plus.pug
    include sections/section-reviews.pug
    include sections/section-order.pug
    include sections/footer.pug
